.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 5%;
    height: 80vh;
    position: relative;
    z-index: 2;
    background-image: url('/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip:border-box;
    background-position: center;
}

.hero-text {
    max-width: 45%; /* Adjusted for better spacing */
    color: #3f0034;
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 3rem; /* Increased margin */
}

.cta-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 560px;
    margin-top: 2rem;
    border-radius: 50px;
}

.cta-button {
    background-color: #ff4df9;
    background-image: linear-gradient(to top right, #ff4ded, #d746ff);
    color: white;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    transition: background 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #ff758f;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.cta-button-outlined {
  position: relative;
  padding: 0.8rem 1.2rem;
  background-image: linear-gradient(to top right, #ff4ded, #d746ff); 
  color: transparent;
  background-clip: text;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  font-weight: 600;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
.cta-button-outlined::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px; 
  background: linear-gradient(to top right, #ff4ded, #d746ff);
  border-radius: inherit;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  z-index: -1;
}

.cta-button-outlined:hover {
    background-color: #ff758f;
    background-clip: initial;
    color: white;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


.cta-button--up {
    transform: translateY(-10px);
    background-color: #ff758f;
}

.cta-button--up:hover {
    transform: translateY(-13px) scale(1.05);
    background-color: #ff4d6d;
}

.hero-images {
    position: relative;
    width: 40%;
    height: 100%;
}

.hero-image {
    position: absolute;
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, z-index 0s 0.15s; /* Delay z-index change on un-hover */
}

.hero-image:hover {
    transform: scale(1.05);
    z-index: 4; /* Bring to front on hover */
    transition-delay: 0s; /* Apply z-index change immediately on hover */
}

.image-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.image-2 {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(-15deg);
    z-index: 2;
}

.image-3 {
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(15deg);
    z-index: 2;
}

.image-3:hover {
    transform: translate(-60%, -50%) rotate(15deg) scale(1.05);
}
